<!-- Modal -->
<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="upgradeModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>
        Your version of obniz Writer is too old to use. <br />
        Please visit <a href="https://obniz.com/ja/" target="_blank">official website</a> to update latest version.
        </p>
        <div>
          <!--<button type="button" class="btn btn-thirdly text-decoration-underline" data-bs-dismiss="modal">Close</button>-->
          <a class="btn btn-primary" href="https://obniz.com/ja/" target="_blank">
            Upgrade
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
