<!-- Modal -->
<div class="modal" tabindex="-1" id="wifiConfigModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuration Via Wifi</h5>
            </div>
            <div class="modal-body">
                <div class="bg-terminal" style=" padding: 10px 20px; height: 100px" id="terminal2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="wifiConfigJsonCancel">Finish</button>
            </div>
        </div>
    </div>
</div>