<!-- Modal -->
<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Read the code on the QR sticker.<br>
        Writing will start automatically after the QR code is read.<br>
        <img src="./assets/images/pict-scan.gif" width="80%"></p>
        <div>
          <input id="qrcode" type="text" class="col col-8"></input>
        </div>
        <div>
          <button id="write_start" type="button" class="btn btn-secondary">OK</button>
        </div>
        <div>
          <button type="button" class="btn btn-thirdly text-decoration-underline" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
